# Analysis task auto generated macros
Task*.C
Task*.sh
Task*.C
Task*.sh*.jdl
*.xml
*.jdl

# C++ object files
*.o
*.d
*.so
*.pdf
*.eps
*.swp

# ROOT6 object files
*.pcm


# Data files
*.root
*.root.inp
*.root.*
event_stat.root
EventStat_temp.root
.runhistory
outputs_valid
deleteme*
DELETEME*

# logs and images
*.log
.runhistory
*.ps
*.pdf
*.png
*.jpeg
*.jpg
*.DS_Store
*/images/Makefile

# Side projects and experiments
OCDBdrain/
analysis-task-test
test_pp_task/
nnl-code/
Dockerfile.slc
id_rsa
*.out
gphysi.dat

# Archives
*.tar.gz
*.tar
*.gz
*.zip

*.tgz

# Python related
*.pyc
.pytest_cache
.python-version
*.egg-*
.hypothesis
.coverage
.ipynb_checkpoints

# Editors
*.sublime*
sftp-config.json
.vscode
