Task*.C
Task*.sh
*.jdl
*.xml
*.o
*.d
*.pdf
*.swp
*.so
event_stat.root
EventStat_temp.root
*.root
.runhistory
outputs_valid
deleteme*
DELETEME*
Task*.C
Task*.sh
*.jdl
*.xml
*.o
*.d
*.pdf
*.swp
*.so
event_stat.root
EventStat_temp.root
*.root
.runhistory
outputs_valid
*.log

*.ps
*.pdf
*.png
*.jpeg
*.jpg
*.root
*.pyc
*.DS_Store
*/images/Makefile
nnl-code/
result.out
*.out
analysis-task-test
