Task*.C
Task*.sh
*.jdl
*.xml
*.o
*.d
*.pdf
*.eps
*.swp
*.so
event_stat.root
EventStat_temp.root
*.root
.runhistory
outputs_valid
deleteme*
DELETEME*
Task*.C
Task*.sh
*.jdl
*.xml
*.o
*.d
*.pdf
*.swp
*.so
event_stat.root
EventStat_temp.root
*.root
.runhistory
outputs_valid
*.log

*.ps
*.pdf
*.png
*.jpeg
*.jpg
*.root
*.pyc
*.DS_Store
*/images/Makefile
nnl-code/
result.out
*.out
analysis-task-test
OCDBdrain/
gphysi.dat
*.tar.gz
*.gz
*.tar
*.zip
*.sublime*
*.root.inp
*.root.*
*/.ipynb_checkpoints
*.tgz
id_rsa
Dockerfile.slc
*/test_pp_task/*

# SFTP configuration
sftp-config.json
.pytest_cache